body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для всего документа */
    background-color: #f4f4f9;  /* Устанавливаем цвет фона для страницы */
    display: flex;  /* Используем flexbox для выравнивания содержимого */
    flex-direction: column; /* Размещаем элементы по вертикали */
    justify-content: center; /* Центрируем элементы по вертикали */
    align-items: center; /* Центрируем элементы по горизонтали */
    height: 100vh; /* Устанавливаем высоту страницы равной 100% высоты окна браузера */
    margin: 0; /* Убираем отступы по краям страницы */
}

.content-container {
       transform: translateY(-50px); /* Поднимаем весь контейнер на 50px вверх */
}

.title {
    margin-bottom: 20px; /* Устанавливаем нижний отступ для заголовка */
    font-size: 2em; /* Устанавливаем размер шрифта для заголовка */
    color: #333; /* Устанавливаем цвет текста заголовка */
    text-align: center; /* Центрируем текст заголовка */
}

.cards-container {
    display: flex; /* Используем flexbox для карточек */
    gap: 20px; /* Устанавливаем расстояние между карточками */
}

.user-card {
    width: 300px; /* Устанавливаем ширину карточки */
    background-color: #fff; /* Устанавливаем цвет фона карточки */
    border-radius: 8px; /* Скругляем углы карточки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень к карточке */
    padding: 20px; /* Устанавливаем внутренние отступы карточки */
    text-align: center; /* Центрируем текст внутри карточки */
    transition: transform 0.3s, box-shadow 0.3s; /* Добавляем анимацию для трансформации и тени */
}

.user-card:hover {
    transform: translateY(-10px); /* Поднимаем карточку при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

.user-photo {
    width: 100px; /* Устанавливаем ширину изображения пользователя */
    height: 100px; /* Устанавливаем высоту изображения пользователя */
    border-radius: 50%; /* Делаем изображение круглым */
    object-fit: cover; /* Сохраняем соотношение сторон изображения */
    margin-bottom: 15px; /* Устанавливаем нижний отступ для изображения */
}

h2 {
    margin: 10px 0; /* Устанавливаем вертикальные отступы для заголовков */
    font-size: 1.5em; /* Устанавливаем размер шрифта для заголовков */
}

p {
    margin: 5px 0; /* Устанавливаем вертикальные отступы для абзацев */
    color: #666; /* Устанавливаем цвет текста для абзацев */
}